* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font Propo";
    font-weight: bold;
    font-size: 13px;
    min-width: 20px;
    min-height: 10px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.6);
    border-radius: 15px;
    border: 2px solid rgba(138, 138, 138, 0.6);
}

#window {
  margin-left: 8px;
}

tooltip {
    background: rgba(30, 30, 46, 0.7);
    border-radius: 15px;
    border: 2px solid rgba(108, 112, 134, 0.6);
}

#workspaces button {
    margin: 0.4rem 0.2rem;
    padding: 0.1rem 0rem;
    border-radius: 50%;
    color: #F0F0F0;
    border: 1px solid rgba(158, 158, 158, 0.6);
    animation: ws_normal 20s ease-in-out 1;
    min-width: 0px;
    min-height: 0px;
}

#workspaces button.active {
    background: rgba(203, 166, 247, 0.4);
    color: #F0F0F0;
    border: 1px solid rgba(253, 250, 246, 0.6);
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: rgba(203, 166, 247, 0.8);
    color: #F0F0F0;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 1px;
}

#tray,
#cpu,
#memory,
#custom-storage,
#custom-updates {
    margin: 0 5px;
}

#cpu {
  margin-left: 1rem;
}

#custom-storage.warning {
    background-color: #f9e2af;
    color: #1e1e2e;
    animation: pulse-warning 2s ease-in-out infinite;
}

#custom-storage.critical {
    background-color: #f38ba8;
    color: #1e1e2e;
    animation: pulse-critical 1s ease-in-out infinite;
}

#network,
#backlight,
#pulseaudio,
#clock,
#language {
    margin: 0 7px;
}

#battery,
#custom-power {
    margin: 0 5px;
}

@keyframes blink {
    to {
        color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: red;
}

#battery.verylow:not(.charging) {
    color: red;
    animation: blink 2.5s ease-in-out infinite;
}

#custom-power {
    margin-right: 1rem;
    color: #b4befe;
}
